fastapi==0.115.12
uvicorn==0.34.0
pydantic==2.10.6
pydantic-settings==2.8.1
pydantic_core==2.27.2
langchain==0.3.22
langchain-chroma==0.2.2
langchain-community==0.3.20
langchain-core==0.3.49
langchain-huggingface==0.1.2
langchain-openai==0.3.11
langchain-text-splitters==0.3.7
chromadb==0.6.3
tiktoken==0.7.0
torch==2.6.0